

<h3>Donors Details</h3>

<ul>
  <li><strong>Name: </strong><%= event.title %></li>
  <li><strong>Blood Group: </strong><%= event.date %></li>
  <li><strong>City: </strong><%= event.organiser %></li>
  <li><strong>Country: </strong><%= event.location %></li>
  <li><strong>Why you donate blood to us: </strong><%= event.description %></li>
  <li><strong>Phone: </strong><%= event.ticket_price %></li>
</ul>

